* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

.header {
    background: #003B46;
    color: white;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.input-task {
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;
}

.input-task input {
    width: 88%;
    border-radius: 6px;
    border-color: #66A5AD;
    color: #66A5AD;
    font-size: 70px;
}

.input-task button {
    padding: 20px 40px;
    font-size: 70px;
    background: #66A5AD;
    border-radius: 6px;
    border: none;
    color: white;
    cursor: pointer;
}

.input-task button:hover {
    background: #07575B;
}

.task-list > div {
    background: #07575B;
    color: white;
    padding: 20px;
    white-space: pre-line;
    margin: 20px 0;
}
